html,
body {
  width: 100%;
  height: 100%;
}

body {
  font: 1.2em/1.4 "Oswald", sans-serif;
}

.rolldown-list {
  text-align: left;
  padding: 0;
  margin: 0;
}

.rolldown-list li {
  color: #fff;

  margin-bottom: 0.125em;
  display: block;
  list-style: none;
  text-transform: uppercase;
}

.rolldown-list li {
  visibility: hidden;
  animation: rolldown 0.7s 1;
  transform-origin: 50% 0;
  animation-fill-mode: forwards;
}

.rolldown-list li:nth-child(2n) {
  background-color: #444;
}

.rolldown-list li:nth-child(2n + 1) {
  background-color: #333;
}

#myList {
  position: absolute;
  width: 50%;
  left: 50%;
  margin-left: -25%;
}

#btnReload {
  float: right;
  color: #333;
  background: #ccc;
  text-transform: uppercase;
  border: none;
  padding: 0.5em 1em;
}

#btnReload:hover {
  background: #ddd;
}

@keyframes rolldown {
  0% {
    visibility: visible;
    transform: rotateX(180deg) perspective(500px);
  }
  70% {
    visibility: visible;
    transform: rotateX(-20deg);
  }
  100% {
    visibility: visible;
    transform: rotateX(0deg);
  }
}
/*removing item*/

@keyframes shake {
  from {
    left: -2px;
  }
  to {
    left: 2px;
  }
}

.task {
  overflow: hidden;
  transition: all 0.2s 0.2s cubic-bezier(0.7, 0.2, 0.17, 1);
  position: relative;
  display: block;
}

.task__field {
  transition: background-size 0.8s 0.2s cubic-bezier(0.7, 0.2, 0.17, 1),
    background-color 0.2s cubic-bezier(0.7, 0.2, 0.17, 1),
    height 0.2s 1s cubic-bezier(0.7, 0.2, 0.17, 1);
  position: relative;
  background-image: linear-gradient(to right, #fe5f55, red);
  background-size: 0 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.task__field.delete {
  transition: all 0.2s cubic-bezier(0.7, 0.2, 0.17, 1);
  transform: scale(1.5, 2);
  height: 0;
  opacity: 0;
}

.task__field.shaking {
  animation: shake 0.1s 0.1s infinite ease-in-out;
  background-size: 100% 2px;
}

.deleted{
  background-color:#44444487 !important;
}