@charset "UTF-8";
*, *:before, *:after {
  position: relative;
  box-sizing: border-box;
}

.hidden{
    display: none;
}



ul {
  --color-heart: #EA442B;
  --easing: cubic-bezier(.7,0,.3,1);
  --duration: .5s;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.like-button {
  position: absolute;
    right: 15px;
    top: 25%;
    font-size: 2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 50%;
  background: white;
  width: 1em;
  height: 1em;
  padding: 0;
  margin: 0;
  outline: none;
  z-index: 2;
  -webkit-transition: -webkit-transform var(--duration) var(--easing);
  transition: -webkit-transform var(--duration) var(--easing);
  transition: transform var(--duration) var(--easing);
  transition: transform var(--duration) var(--easing), -webkit-transform var(--duration) var(--easing);
  cursor: pointer;
}
.like-button:before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0.3em 0.6em rgba(0, 0, 0, 0.3);
  border-radius: inherit;
  -webkit-transition: inherit;
  transition: inherit;
}
.like-button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: inherit;
  z-index: -1;
}
.like-button:active:before {
  -webkit-animation: depress-shadow var(--duration) var(--easing) both;
          animation: depress-shadow var(--duration) var(--easing) both;
}
.focused:after {
  -webkit-animation: depress var(--duration) var(--easing) both;
          animation: depress var(--duration) var(--easing) both;
}
@-webkit-keyframes depress {
  from, to {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: translateY(5%) scale(0.9);
            transform: translateY(5%) scale(0.9);
  }
}
@keyframes depress {
  from, to {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: translateY(5%) scale(0.9);
            transform: translateY(5%) scale(0.9);
  }
}
@-webkit-keyframes depress-shadow {
  from, to {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
@keyframes depress-shadow {
  from, to {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
.like-wrapper {
  display: grid;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  z-index: 1;
}
.like-wrapper > * {
  margin: auto;
  grid-area: 1 / 1;
}

.heart {
  width: .5em;
  height: .5em;
  display: block;
  -webkit-transform-origin: center 80%;
          transform-origin: center 80%;
}
.heart > path {
  stroke: var(--color-heart);
  stroke-width: 2;
  fill: transparent;
  -webkit-transition: fill var(--duration) var(--easing);
  transition: fill var(--duration) var(--easing);
}
.focused .heart > path {
  fill: var(--color-heart);
}
.focused .heart {
  -webkit-animation: heart-bounce var(--duration) var(--easing);
          animation: heart-bounce var(--duration) var(--easing);
}
@-webkit-keyframes heart-bounce {
  40% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  0%, 80%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes heart-bounce {
  40% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  0%, 80%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* Added wrapper to prevent layout jank with resizing particles */
.particles {
  width: 1px;
  height: 1px;
}

.particle {
  position: absolute;
  top: 0;
  left: 0;
  height: .1em;
  width: .1em;
  border-radius: .05em;
  background-color: var(--color);
  --percentage: calc( var(--i) / var(--total-particles) );
  --Θ: calc( var(--percentage) * 1turn );
  -webkit-transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0) scaleY(0);
          transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0) scaleY(0);
  -webkit-transition: all var(--duration) var(--easing);
  transition: all var(--duration) var(--easing);
}
.focused .particle {
  -webkit-animation: particles-out calc(var(--duration) * 1.2) var(--easing) forwards;
          animation: particles-out calc(var(--duration) * 1.2) var(--easing) forwards;
}
@-webkit-keyframes particles-out {
  50% {
    height: .3em;
  }
  50%, 60% {
    height: .3em;
    -webkit-transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0.8em) scale(1);
            transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0.8em) scale(1);
  }
  60% {
    height: .2em;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(1em) scale(0);
            transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(1em) scale(0);
  }
}
@keyframes particles-out {
  50% {
    height: .3em;
  }
  50%, 60% {
    height: .3em;
    -webkit-transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0.8em) scale(1);
            transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0.8em) scale(1);
  }
  60% {
    height: .2em;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(1em) scale(0);
            transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(1em) scale(0);
  }
}
.ripple {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}
.ripple:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.4em solid var(--color-heart);
  border-radius: inherit;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.focused .ripple:before {
  -webkit-animation: ripple-out var(--duration) var(--easing);
          animation: ripple-out var(--duration) var(--easing);
}
@-webkit-keyframes ripple-out {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}
@keyframes ripple-out {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}
li {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background-color: var(--color-bg);
}

/* Reset the animation when clicking again! */
.focused {

  cursor: normal;
}

/*ul style*/
html,body {
  width: 100%;
  height: 100%;
}

body {
  font: 1.2em/1.4 'Oswald', sans-serif;
  
}

.rolldown-list {
  text-align: left;
  padding: 0;
  margin: 0;
}

.rolldown-list li {
  color: #fff;
  
  margin-bottom: .125em;
  display: block;
  list-style: none;
  text-transform: uppercase;
}

.rolldown-list li {
  visibility: hidden;
  animation: rolldown .7s 1;
  transform-origin: 50% 0;
  animation-fill-mode: forwards;
}

.rolldown-list li:nth-child(2n) {
  background-color: #444;
}

.rolldown-list li:nth-child(2n+1) {
  background-color: #333;
}

#myList {
  position: absolute;
  width: 50%; 
  left: 50%;
  margin-left: -25%;
}

#btnReload {
  float: right;
  color: #333;
  background: #ccc;
  text-transform: uppercase;
  border: none;
  padding: .5em 1em;
}

#btnReload:hover {
  background: #ddd;
}

@keyframes rolldown {
  0% {
    visibility: visible;
    transform: rotateX(180deg) perspective(500px);
  }
  70% {
    visibility: visible;
    transform: rotateX(-20deg);
  }
  100% {
    visibility: visible;
    transform: rotateX(0deg);
  }
}
/*removing item*/


@keyframes shake {
  from {left: -2px;}
  to   {left: 2px;}
}




.task {
  overflow:hidden;
  transition: all 0.2s 0.2s cubic-bezier(.7,.2,.17,1);
  position:relative;
  display:block;
}



.task__field {
  transition: background-size 0.8s 0.2s cubic-bezier(.7,.2,.17,1),
              background-color 0.2s cubic-bezier(.7,.2,.17,1),
              height 0.2s 1s cubic-bezier(.7,.2,.17,1);
  position:relative;
  background-image: linear-gradient(to right, #FE5F55, red);
  background-size: 0 2px;
  background-repeat:no-repeat;
  background-position: left bottom;
}

.task__field.delete {
  transition: all 0.2s cubic-bezier(.7,.2,.17,1);
  transform: scale(1.5, 2);
  height:0;
  opacity:0;
}

.task__field.shaking {
  animation: shake 0.1s 0.1s infinite ease-in-out;
  background-size: 100% 2px;
}

/*form*/

@import url('https://rsms.me/inter/inter.css');
 :root {
	 --color-light: white;
	 --color-dark: #212121;
	 --color-signal: #fab700;
	 --color-background: var(--color-light);
	 --color-text: var(--color-dark);
	 --color-accent: var(--color-signal);
	 --size-bezel: 0.5rem;
	 --size-radius: 4px;
	 line-height: 1.4;
	 font-family: 'Inter', sans-serif;
	 font-size: calc(.6rem + .4vw);
	 color: var(--color-text);
	 background: var(--color-background);
	 font-weight: 300;
	 padding: 0 calc(var(--size-bezel) * 3);
}
 h1, h2, h3 {
	 font-weight: 900;
}
 mark {
    
	 background: var(--color-accent);
	 color: var(--color-text);
	 font-weight: bold;
	 padding: 0 0.2em;
}
 .card {
  margin-bottom: 10px;
	 background: var(--color-background);
	 padding: calc(4 * var(--size-bezel));
	 margin-top: calc(4 * var(--size-bezel));
	 border-radius: var(--size-radius);
	 border: 3px solid var(--color-shadow, currentColor);
	 box-shadow: 0.5rem 0.5rem 0 var(--color-shadow, currentColor);
}
 .card--inverted {
	 --color-background: var(--color-dark);
	 color: var(--color-light);
	 --color-shadow: var(--color-accent);
}
 .card--accent {
	 --color-background: var(--color-signal);
	 --color-accent: var(--color-light);
	 color: var(--color-dark);
}
 .card *:first-child {
	 margin-top: 0;
}
 .l-design-widht {
	 max-width: 40rem;
	 padding: 1rem;
}
 .input {
	 position: relative;
}
 .input__label {
	 position: absolute;
   user-select: none;
	 left: 0;
	 top: 0;
	 padding: calc(var(--size-bezel) * 0.5) calc(var(--size-bezel) * .5);
	 margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .6);
	 background: pink;
	 white-space: nowrap;
	 transform: translate(0, 0);
	 transform-origin: 0 0;
	 background: var(--color-background);
	 transition: transform 120ms ease-in;
	 font-weight: bold;
	 line-height: 1.2;
}
 .input__field {
	 box-sizing: border-box;
   margin: 15px 0;
	 display: block;
	 width: 100%;
	 border: 3px solid currentColor;
	 padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
	 color: currentColor;
	 background: transparent;
	 border-radius: var(--size-radius);
}
 .input__field:focus + .input__label, .input__field:not(:placeholder-shown) + .input__label {
	 transform: translate(0.25rem, -65%) scale(0.8);
	 color: var(--color-accent);
}
 .button-group {
	 margin-top: calc(var(--size-bezel) * 2.5);
}
 button {
	 color: currentColor;
	 padding: var(--size-bezel) calc(var(--size-bezel) * 2);
	 background: var(--color-accent);
	 border: none;
	 border-radius: var(--size-radius);
	 font-weight: 900;
   transition: background  0.5s ease;
}
 button[type=reset] {
	 background: var(--color-background);
	 font-weight: 200;
}
 button + button {
	 margin-left: calc(var(--size-bezel) * 2);
}
 .icon {
	 display: inline-block;
	 width: 1em;
	 height: 1em;
	 margin-right: 0.5em;
}
 .hidden {
	 display: none;
}
 


button:hover:not(button[type='reset']) {
  background: #fab7008c;
  
}
